.gbt-latest-grid [data-id='latest'] .carousel-strip__strip {
  flex-wrap: wrap;
}

.gbt-latest-grid [data-id='latest'] .carousel-strip__control {
  display: none;
}

.gbt-latest-grid [data-id='latest'] .carousel-strip__slot.more {
  display: block;
  padding: 10px;
  margin-top: 10px;
  max-width: 100% !important;
  flex: none !important;
  width: 100% !important;
}
