.gbt-hide-community [data-id='community'] {
  display: none;
}

.gbt-hide-frontdoor_promos [data-id='frontdoor-promos'] {
  display: none;
}

.gbt-hide-infinite [data-id='infinite-promo'] {
  display: none;
}

.gbt-hide-latest [data-id='latest'] {
  display: none;
}

.gbt-hide-latest-premium [data-id='latest-premium'] {
  display: none;
}

.gbt-hide-continue [data-id='continue-watching'] {
  display: none;
}

.gbt-hide-quicklooks [data-id='quick-looks'] {
  display: none;
}

.gbt-hide-shows [data-id='shows'] {
  display: none;
}

.gbt-hide-history [data-id='history'] {
  display: none;
}

.gbt-hide-search .site-container-search {
  display: none;
}
